{{#if oudaAuth.isAuthenticated}}
    <div class="row">
        <h2> Logged in as:  {{oudaAuth.userName}}</h2>
    </div>

    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1>{{#link-to 'posts'}}Home{{/link-to}}</h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li><img src="assets/images/webby-logo.PNG" width="60px" height="auto"></li>
                <li>{{#link-to 'about'}}About{{/link-to}}</li>
                <li>{{#link-to 'adminPortal'}}Admin Portal{{/link-to}}</li>
                <li>{{#link-to 'user'}}Edit User{{/link-to}}</li>
                <li> {{log-out}} </li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
                <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
                <li>{{#link-to 'students'}}Students{{/link-to}}</li>
                <li>{{#link-to 'edit'}}Add/Edit{{/link-to}}</li>
                <li>{{#link-to 'distribute'}}Distribute{{/link-to}}</li>
                <li>{{#link-to 'add-file'}}Add File{{/link-to}}</li>
            </ul>
        </section>
    </nav>
    <div class="row">
        <div class="large-12 columns">
            {{outlet}}
        </div>
    </div>
    <footer class="row">
        <div class="large-12 columns">
            <hr/>
            <p>© Copyright Webby</p>
        </div>
    </footer>
{{else}}
  {{outlet "login"}}

{{/if}}





