{{#if isEditing}}
    <h2>Add new student</h2>
    <form>
        <div class="row">
            <div class="large-12 columns">
                <label>Student Number:
                  {{input value=number  id="number" type="text" }}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>First Name:
                  {{input value=firstName  id="firstName" type="text" }}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Last Name:
                  {{input value=lastName  id="lastName" type="text" }}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Date of Birth:
                  {{input value=DOB  id="DOB" type="text" }}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Gender:
                    <select id="gender">
                        {{#each genderModel as |oneGender|}}
                            <option value={{oneGender.id}}>{{oneGender.name}}</option>
                        {{/each}}
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Academic Load:
                    <select id="academicLoad">
                        {{#each academicLoadModel as |oneAcademicLoad|}}
                            <option value={{oneAcademicLoad.id}}>{{oneAcademicLoad.name}}</option>
                        {{/each}}
                    </select>
                </label>
            </div>
        </div>
        {{manage-academic-load}}
        <div class="row">
            <div class="large-12 columns">
                <label>Residency:
                    <select id="residency">
                        {{#each residencyModel as |oneResidency|}}
                            <option value={{oneResidency.id}}>{{oneResidency.name}}</option>
                        {{/each}}
                    </select>
                </label>
            </div>
        </div>
        {{manage-residency}}
        <div class="row">
            <div class="large-12 columns">
                <label>Country:
                    <select id="country">
                        {{#each countryModel as |oneCountry|}}
                            <option value={{oneCountry.id}} onchange={{action 'updateSelectedCountry'}} >{{oneCountry.name}}</option>
                        {{/each}}
                    </select>
                </label>
            </div>
        </div>
        {{manage-country}}
        <div class="row">
            <div class="large-12 columns">
                <label>Province:
                    <select id="province">
                        {{#each provinceModel as |oneProvince|}}
                            <option value={{oneProvince.id}}>{{oneProvince.name}}</option>
                        {{/each}}
                    </select>
                </label>
            </div>
        </div>
        {{manage-province countryModel = countryCur}}
        <div class="row">
            <div class="large-12 columns">
                <label>City:
                    <select id="city">
                        {{#each cityModel as |oneCity|}}
                            <option value={{oneCity.id}}>{{oneCity.name}}</option>
                        {{/each}}
                    </select>
                </label>
            </div>
        </div>
        {{manage-city}}
        
        <!-- {{manage-itrprogram}} -->

    </form>
    <br>
    <a href="#" class="button radius" {{action 'saveStudent'}}>Save</a>
    <a href="#" class="button radius" {{action 'cancel'}}>Cancel</a>


{{else}}
    <a href="#" class="button round" {{action 'addNewStudent'}}>Add a student</a>
{{/if}}
