<div class="row">
	<ul class="expanded button-group round">
		<li><a href="#" class="button" {{action 'manageFaculty'}}>Faculties</a></li>
		<li><a href="#" class="button" {{action 'manageAcademicProgramCode'}}>Academic Program Codes</a></li>
		<li><a href="#" class="button" {{action 'manageDepartment'}}>Departments</a></li>
		<li><a href="#" class="button"{{action 'manageLogicalExpression'}}>Logical Expressions</a></li>
		<li><a href="#" class="button"{{action 'manageCourseCode'}}>Course Codes</a></li>
	</ul>		 
</div>

<div class="row">
	<ul class="expanded button-group round">
		<li><a href="#" class="button"{{action 'manageDegreeCode'}}>DegreeCodes</a></li>
		<li><a href="#" class="button"{{action 'manageTermCode'}}>Term Codes</a></li>
		<li><a href="#" class="button"{{action 'manageAdmissionRule'}}>Admission Rules</a></li>
		<li><a href="#" class="button"{{action 'manageProgramAdministration'}}>Program Administrations</a></li>
		<li><a href="#" class="button"{{action 'manageDistrubutionResults'}}>Distrubution Results</a></li>
		<li><a href="#" class="button tiny"{{action 'manageCommentCode'}}>Comment Code</a></li>
	</ul>		 
</div>

{{#if isManageFaculty}}
	{{manage-faculty isManagingFaculty = true}}
{{else if isManageAcademicProgramCode}}
	{{manage-academicprogramcode isManagingAcademicProgramCode = true}}
{{else if isManageDepartment}}
	{{manage-department isManagingDepartment = true}}
{{else if isManageLogicalExpression}}
	{{manage-logicalexpression isManagingLogicalExpression = true}}
{{else if isManageCourseCode}}
	{{manage-course-code isManagingCourseCode = true}}
{{else if isManageDegreeCode}}
	{{manage-degree-code isManagingDegreeCode = true}}
{{else if isManageTermCode}}
	{{manage-term-code isManagingTermCode = true}}
{{else if isManageAdmissionRule}}
	{{manage-addmissionrule isManagingAdmissionRule = true}}
{{else if isManageProgramAdministration}}
	{{manage-programadministration isManagingProgramAdministration = true}}
{{else if isManageCommentCode}}
	{{manage-comment-code isManagingCommentCode = true}}
{{/if}}