{{#if isManagingCity}}
    <div class="row">
        <div class="large-12 columns">
            <h4 align="center"> Manage City</h4>
        </div>
    </div>

    <div class="row">
        <div class="large-10  large-centered columns">
            <div class="panel">
              {{#if isAddingNewCity}}
                  <h2>Add New City</h2>
                  <form>
                      <div class="row">
                          <div class="large-12 columns">
                              <label>Name
                                {{input value=name  type="text" }}
                              </label>
                          </div>
                      </div>
                  </form>
                  <div class="row">
                      <div class="large-12 columns">
                          <a href="#" class="button radius" {{action 'saveNewCity'}}>Save</a>
                          <a href="#" class="button radius" {{action 'cancelAddNewCity'}}>Cancel</a>
                      </div>
                  </div>
                  <br>
              {{else}}

                {{#each CityModel as |oneCity|}}
                    <div class="row">
                        <li class="large-3 columns">  {{oneCity.name}} </li>

                        <div class="large-2 columns">
                          {{delete-City ID=oneCity.id }}
                        </div>
                    </div>
                {{/each}}
                  <div class="row">
                      <div class="large-12 columns">
                          <br> <br> <br>
                          <a href="#" class="button radius" {{action 'addNewCity'}}>Add New City</a>
                          <a href="#" class="button radius" {{action 'doneCity'}}>Done</a>
                      </div>
                  </div>
              {{/if}}
            </div>
        </div>
    </div>

<!-- {{else}}
    <div class="large-2 columns">
        <a href="#" class="button tiny" {{action 'manageCity' }}>More</a>
    </div> -->
{{/if}}


