{{#if isManagingFaculty}}
    <div class="row">
        <div class="large-12 columns">
            <h4 align="center"> Manage Faculty</h4>
        </div>
    </div>

    <div class="row">
        <div class="large-10  large-centered columns">
            <div class="panel">
              {{#if isAddingNewFaculty}}
                  <h2>Add New Faculty</h2>
                  <form>
                      <div class="row">
                          <div class="large-12 columns">
                              <label>Name
                                {{input value=name type="text" }}
                              </label>
                          </div>
                      </div>
                  </form>
                  <div class="row">
                      <div class="large-12 columns">
                          <a href="#" class="button radius" {{action 'saveNewFaculty'}}>Save</a>
                          <a href="#" class="button radius" {{action 'cancelAddNewFaculty'}}>Cancel</a>
                      </div>
                  </div>
                  <br>
              {{else}}
                {{#each facultyModel as |oneFaculty|}}
                    <div class="row">
                        {{oneFaculty.name}} {{delete-Faculty ID=oneFaculty.id }}
                    </div>
                {{/each}}
                  <div class="row">
                      <div class="large-12 columns">
                          <br> <br> <br>
                          <a href="#" class="button radius" {{action 'addNewFaculty'}}>Add New Faculty</a>
                          <a href="#" class="button radius" {{action 'doneFaculty'}}>Done</a>
                      </div>
                  </div>
              {{/if}}
            </div>
        </div>
    </div>

{{else}}
    <div class="large-2 columns">
        <a href="#" class="button radius" {{action 'manageFaculty' }}>Manage Faculties</a>
    </div>
{{/if}}


