{{#if isManagingSecondarySchool}}
	<div class="row">
		<div class="large-12 columns">
			<h4 align="center">Manage Secondary Schools</h4>
		</div>
	</div>

	<div class="row">
		<div class="large-10  large-centered columns">
			<div class="panel">
				{{#if isAddingNewSecondarySchool}}
					<h2>Add A New Secondary School</h2>
					<form>
						<div class="row">
							<div class="large-12 columns">
								<label>Name
									{{input value=name type="text" }}
								</label>
							</div>
						</div>
					</form>
					<div class="row">
						<div class="large-12 columns">
							<a href="#" class="button radius" {{action 'saveNewSecondarySchool'}}>Save</a>
							<a href="#" class="button radius" {{action 'cancelAddNewSecondarySchool'}}>Cancel</a>
						</div>
					</div>
					<br>
				{{else}}
					{{#each SecondarySchoolModel as |oneSS|}}
						<div class="row">
							{{oneSS.name}} <!-- {{delete-Faculty ID=oneFaculty.id }} -->
						</div>
					{{/each}}
					<div class="row">
						<div class="large-12 columns">
							<br> <br> <br>
							<a href="#" class="button radius" {{action 'addNewSecondarySchool'}}>Add A New Secondary School</a>
							<!-- <a href="#" class="button radius" {{action 'doneFaculty'}}>Done</a> -->
						</div>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
{{/if}}


