{{#if isManagingTermCode}}
    <div class="row">
        <div class="large-12 columns">
            <h4 align="center"> Manage Terms</h4>
        </div>
    </div>

    <div class="row">
        <div class="large-10  large-centered columns">
            <div class="panel">
              {{#if isAddingNewTermCode}}
                  <h2>Add New Term</h2>
                  <form>
                      <div class="row">
                          <div class="large-12 columns">
                              <label>Name
                                {{input value=name type="text" }}
                              </label>
                          </div>
                      </div>
                  </form>
                  <div class="row">
                      <div class="large-12 columns">
                          <a href="#" class="button radius" {{action 'saveNewTermCode'}}>Save</a>
                          <a href="#" class="button radius" {{action 'cancelAddNewTermCode'}}>Cancel</a>
                      </div>
                  </div>
                  <br>
              {{else}}

                {{#each TermCodeModel as |oneTermCode|}}
                    <div class="row">
                        {{oneTermCode.name}} {{delete-term-code ID=oneTermCode.id }}
                    </div>
                {{/each}}
                  <div class="row">
                      <div class="large-12 columns">
                          <br> <br> <br>
                          <a href="#" class="button radius" {{action 'addNewTermCode'}}>Add New Term</a>
                          <!-- <a href="#" class="button radius" {{action 'doneTermCode'}}>Done</a> -->
                      </div>
                  </div>
              {{/if}}
            </div>
        </div>
    </div>

<!-- {{else}}
    <div class="large-2 columns">
        <a href="#" class="button radius" {{action 'manageTermCode' }}>Manage Terms</a>
    </div> -->
{{/if}}


