{{#if isManagingLogicalExpression}}
    <div class="row">
        <div class="large-12 columns">
            <h4 align="center"> Manage Logical Expressions</h4>
        </div>
    </div>

    <div class="row">
        <div class="large-10  large-centered columns">
            <div class="panel">
              {{#if isAddingNewLogicalExpression}}
                  <h2>Add New LogicalExpression</h2>
                  <form>
                      <div class="row">
                          <div class="large-12 columns">
                              <label>Boolean Expression
                                {{input value=booleanExp type="text" }}
                              </label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="large-12 columns">
                              <label>Logical Link
                                {{input value=logicalLink type="text" }}
                              </label>
                          </div>
                      </div>
                      <div class="row">
      			         <div class="large-12 columns">
        			                <label>Choose the logical expression's parent:
        			                    <select id="logicalexpression">
        			                        {{#each LogicalExpressionModel as |oneLogicalExpression|}}
        			                            <option value={{oneLogicalExpression.id}}>{{oneLogicalExpression.booleanExp}}</option>
        			                        {{/each}}
                                          <option value="#NOTHING">N/A</option>
        			                    </select>
        			                </label>
        			            </div>
        			        </div>
                      <div class="row">
        			            <div class="large-12 columns">
        			                <label>Choose the logical expression's admission rule:
        			                    <select id="admissionrule">
        			                        {{#each admissionRuleModel as |oneAdmissionRule|}}
        			                            <option value={{oneAdmissionRule.id}}>{{oneAdmissionRule.description}}</option>
        			                        {{/each}}
        			                    </select>
        			                </label>
        			            </div>
        			        </div>
                  </form>
                  <br>
                  <div class="row">
                      <div class="large-12 columns">
                          <a href="#" class="button radius" {{action 'saveNewLogicalExpression'}}>Save</a>
                          <a href="#" class="button radius" {{action 'cancelAddNewLogicalExpression'}}>Cancel</a>
                      </div>
                  </div>
                  <br>
              {{else}}
                  {{#each LogicalExpressionModel as |oneLogicalExpression|}}
                      <div class="row">
                          <li class="large-3 columns">  {{oneLogicalExpression.booleanExp}} </li>

                          <div class="large-2 columns">
                            {{delete-logicalexpression ID=oneLogicalExpression.id }}
                          </div>
                      </div>
                  {{/each}}
                  <div class="row">
                      <div class="large-12 columns">
                          <br> <br> <br>
                          <a href="#" class="button radius" {{action 'addNewLogicalExpression'}}>Add New Logical Expression</a>
                          <!-- <a href="#" class="button radius" {{action 'doneLogicalExpression'}}>Done</a> -->
                      </div>
                  </div>
              {{/if}}
            </div>
        </div>
    </div>

<!-- {{else}}
    <div class="large-2 columns">
        <a href="#" class="button radius" {{action 'manageLogicalExpression' }}>Manage Logical Expressions</a>
    </div> -->
{{/if}}


