{{#if isManagingCourseCode}}
    <div class="row">
        <div class="large-12 columns">
            <h4 align="center"> Manage Courses</h4>
        </div>
    </div>

    <div class="row">
        <div class="large-10  large-centered columns">
            <div class="panel">
              {{#if isAddingNewCourseCode}}
                  <h2>Add New Course</h2>
                  <form>
                      <div class="row">
                          <div class="large-12 columns">
                              <label>Course Code
                                {{input value=code type="text" }}
                              </label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="large-12 columns">
                              <label>Name
                                {{input value=name type="text" }}
                              </label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="large-12 columns">
                              <label>Number
                                {{input value=number type="text" }}
                              </label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="large-12 columns">
                              <label>Unit
                                {{input value=unit type="text" }}
                              </label>
                          </div>
                      </div>
                  </form>
                  <div class="row">
                      <div class="large-12 columns">
                          <a href="#" class="button radius" {{action 'saveNewCourseCode'}}>Save</a>
                          <a href="#" class="button radius" {{action 'cancelAddNewCourseCode'}}>Cancel</a>
                      </div>
                  </div>
                  <br>
              {{else}}

                {{#each CourseCodeModel as |oneCourseCode|}}
                    <div class="row">
                        {{oneCourseCode.name}} {{delete-course-code ID=oneCourseCode.id }}
                    </div>
                {{/each}}
                  <div class="row">
                      <div class="large-12 columns">
                          <br> <br> <br>
                          <a href="#" class="button radius" {{action 'addNewCourseCode'}}>Add New Course</a>
                          <a href="#" class="button radius" {{action 'doneCourseCode'}}>Done</a>
                      </div>
                  </div>
              {{/if}}
            </div>
        </div>
    </div>

{{else}}
    <div class="large-2 columns">
        <a href="#" class="button radius" {{action 'manageCourseCode' }}>Manage Courses</a>
    </div>
{{/if}}


