<h2>{{selectedStudent.firstName}} {{selectedStudent.lastName}}</h2>
{{#if isEditing}}
    <form>
        <div class="row">
            <div class="large-12 columns">
                <label>Student's First Name
                  {{input value=selectedStudent.firstName type="text" }}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Student's Last Name
                  {{input value=selectedStudent.lastName type="text" }}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Student Number
                  {{input value=selectedStudent.number type="text" }}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Date Of Birth
                  {{input value=selectedStudent.DOB type="text" }}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Gender:
                    <select id="gender">
                        {{#each genderModel as |oneGender|}}
                            <option value={{oneGender.id}} selected={{eq selectedStudent.gender.id oneGender.id}}>{{oneGender.name}}</option>
                        {{/each}}
                    </select>
                </label>
            </div>
        </div>
    </form>
    <br>
    <a href="#" class="button radius" {{action 'save' selectedStudent.id}}>Save</a>
{{else}}
    <ul class="square">
        <ul>
            <li>Student Number:{{selectedStudent.number}}</li>
            <li>Date Of Birth:{{selectedStudent.DOB}}</li>
            <li>Gender:{{selectedStudent.gender.name}}</li>
        </ul>
    </ul>
    <br>
    <a href="#" class="button radius" {{action 'edit'}}>Edit</a>
    <a href="#" class="button radius" {{action 'cancel'}}>Cancel</a>
{{/if}}